.about {
        background: $dark-green;
        .heading {
                margin-bottom: $heading-margin-large;
        }
        .blurb {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: right;
                @include tablet {
                        text-align: justify;
                }
        }
        .view-gallery {
                font-size: 90%;
        }
        
        .learn-more {
                font-size: 170%;
                margin-top: 4%;
        }
        img {
                border: $white solid $active-border;
        }
}

