.about {
        background: $dark-green;
        .heading {
                margin-bottom: $heading-margin;
        }
        .has-text-right {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
        }
        .view-gallery {
                font-size: 90%;
        }
        
        .learn-more {
                font-size: 170%;
                margin-top: 4%;
        }
}

