.events {
    background: $dark-green;
    .facebook-logo {
        width: 20%;
        margin-right: 3%;
    }
    .level {
        justify-content: flex-start;
    }
    .social-media {
        .fab, .fas {
            font-size: 120%;
        }
    }
    .media-item-content {
        font-family: Helvetica, Arial, sans-serif;
        a {
            color: $white;
            font-size: 120%;
        }
        a:hover {
            color: $white;
            -webkit-text-stroke: 0.3px $primary-green;
        }
    }
    .button {
        font-size: 80%;
    }
    img {
        border: $white solid $active-border;
    }
    .title {
        font-size: 2em;
        color: $rich-black;
    }
    .blurb {
        color: $rich-black;
    }
    a {
        color: $white;
    }
    a:hover {
        color: $primary-green;
    }
    .vline {
        height: 130vh;
    }
}