.events {
    background: $dark-green;
    img {
        border: $white solid $active-border;
    }
    .heading {
        @include tablet {
            text-align: center;
            margin-bottom: 8%;
        }
    }
    .title {
        color: $rich-black;
        font-size: 3.4em;
        @include custom(1280px){
            font-size: 2.5em;
        }
        @include desktop {
            font-size: 2em;
        }
        @include custom(900px){
            font-size: 1.9em;
        }
        @include custom(($tablet)-1px) {
            font-size: 3.6em;
        }
    }
    .blurb {
        color: $rich-black;
        font-size: 1.2em;
        @include custom(1280px){
            font-size: 0.9em;
        }
        @include desktop {
            font-size: 0.8em;
        }
        @include custom(($tablet)-1px) {
            font-size: 1em;
        }
    }
    a {
        color: $white;
    }
    a:hover {
        color: $primary-green;
    }
    .vline {
        height: 110vh;
    }
    .overlay-middle-right {
        right: 8%;
        top: 34%;
        @include desktop {
            top: 34%;
        }
        @include custom(900px){
            top: 38%;
        }
        @include custom(($tablet)-1px) {
            top: 36%;
        }
    }
    .media-item {
        @include tablet {
            margin: auto;
            margin-bottom: 8%;
        }
        @include desktop {
            margin-bottom: 8%;
        }
        @include widescreen {
            margin-bottom: 8%;
        }
    }
}