.hero-foot {
    padding: 4%;
    padding-bottom: 1%;
    background-color: $dark-green;
    .container-padding {
        padding: 2%;
    }
    a {
        color: $white;
    }
    a:hover {
        color: $primary-green;
    }
    .documents {
        margin-top: 4%;
        text-decoration: underline;
        @include tablet {
            font-size: 0.7em;
        }
    }
    .media-item {
        width: 70%;
    }
    .media-item:first-child {
        -ms-flex-item-align: start;
            align-self: flex-start;
    }
    .media-item:last-child {
        -ms-flex-item-align: end;
            align-self: flex-end;
    }
    .address {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        span {
            font-size: 100%;
        }
        .email {
            margin-top: 4%;
        }
    }
    .hline {
        margin-bottom: 2%;
    }
    .button-column {
        margin: auto;
        .button.give {
            width: 40%;
            margin: auto;
        }
    }
    .social-media {
        font-size: 3em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        @include tablet {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            -ms-flex-line-pack: justify;
                align-content: space-between;
        }
    }
    .get-in-touch {
        @include tablet {
            text-align: center;
        }
    }
    .title {
        @include tablet {
            margin-top: 4%;
            font-size: 2.5em;
        }
    }
    .newsletter {
        @include tablet {
            display: none;
        }
    }
}