.hero-foot {
    .container-padding {
        padding: 2%;
    }
    padding: 4%;
    padding-bottom: 1%;
    background-color: $dark-green;
    font-size: 70%;
    a {
        color: $white;
    }
    a:hover {
        color: $primary-green;
    }
    .documents {
        margin-top: 4%;
        text-decoration: underline;
    }
    .media-item {
        width: 70%;
    }
    .media-item:first-child {
        align-self: flex-start;
    }
    .media-item:last-child {
        align-self: flex-end;
    }
    .address {
        display: flex;
        flex-direction: column;
        span {
            font-size: 140%;
        }
        .email {
            margin-top: 4%;
        }
    }
    .button {
        width: 50%;
        margin: auto;
    }
    .social-media {
        font-size: 5em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
        * {
            padding: 2%;
        }
    }
}