.news {
    background: rgba(255, 255, 255, 0.7);
    color: $rich-black;
    .heading {
        color: $rich-black;
    }
    .heading.heading-h3 {
        color: $white;
    }
    .button {
        border: $rich-black $active-border solid;
        font-size: 120%;
    }
    .button:hover {
        border: $primary-green $active-border solid;
    }
    a {
        color: $white;
    }
    a:hover {
        color: $primary-green;
    }
}

