.news {
    background: rgba(255, 255, 255, 0.7);
    color: $rich-black;
    .heading {
        color: $rich-black;
    }
    .button {
        border: $rich-black $active-border solid;
        font-size: 120%;
    }
    .button:hover {
        border: $primary-green $active-border solid;
    }
    a {
        color: $white;
    }
    a:hover {
        color: $primary-green;
    }
    .title {
        font-size: 2em;
        color: $rich-black;
    }
    .blurb {
        color: $rich-black;
        font-size: 90%;
    }
    .vline {
        height: 90vh;
    }
    .overlay-middle-right {
        top: 30%;
        right: 8%;
    }
    .media-item {
        @include tablet {
            margin-bottom: 8%;
        }
    }
}

