.partners {
    color: $rich-black;
    .heading {
        color: $rich-black;
        margin-bottom: $heading-margin-small;
    }
    img {
        width: 60%;
    }
    a img:hover {
        outline: none;
    }
}