.work {
    background: url(../../img/_DSC8037.jpg) top center / cover;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    .blurb {
        padding-right: 3%;
        text-align: right;
        margin-bottom: 4%;
        @include desktop {
            text-align: left;
        }
    }
    .button {
        margin-top: $button-margin;
        font-size: 180%;
    }
    .heading {
        margin-bottom: $heading-margin-large;
    }
}