.work {
    background: url(../../img/_DSC8037.jpg) top center / cover;
    align-self: stretch;
    .has-text-right {
        padding-right: 3%;
    }
    .button {
        margin-top: 4%;
        font-size: 180%;
    }
    .heading {
        margin-bottom: $heading-margin;
    }
}