.button.is-primary {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: $rich-black;
    background-color: $primary-green;
    border: solid $white $active-border;
}

.button-primary {
    font-size: 140%;
}

.button.is-primary:hover {
    color: $white;
    background: $dark-green;
    transition: background 0.1s ease;
    border: solid $primary-green $active-border;
}

.main-body {
    .button {
        margin-top: 2%;
    }
}