.carousel {
    .carousel-container {
        .carousel-item {
            .title {
                -ms-flex-item-align: end;
                    align-self: flex-end;
                text-align: left;
                background: none;
                font-size: 2rem;
            }
        }
    } 
    .carousel-navigation.is-overlay {
        z-index: 2;
        .carousel-nav-left, .carousel-nav-right {
            background: $primary-green;
            color: $white;
        }
    }   
}