.hero.pattern {
    background: url(../../img/maori_pattern_1.png) no-repeat;
    section {
        @include tablet {
            padding-top: $section-padding-tablet;
            padding-bottom: $section-padding-tablet;
        }
    }
}