section {
    margin-top: 0;
    margin-bottom: 0;
    padding: $section-padding;
}

.section-container {
    width: 85%;
    margin: auto;
}

.full-container {
    width: 80vw;
    align-self: flex-start;
    .level {
        justify-content: flex-end;
        * {
            margin: $small-margin;
        }
    }
}

.pattern .hero-body {
    margin-top: 0;
    padding-top: 0;
}

.field {
    margin-top: $field-margin;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.media-item {
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 1;
}

.overlay-bottom-left {
    bottom: 4%;
    left: 4%;
}

.overlay-bottom-right {
    bottom: 4%;
    right: 4%;
}

.overlay-top-left {
    top: 4%;
    left: 4%;
}

.overlay-top-right {
    top: 4%;
    right: 4%;
}