// Colors
$white: #fff;
$rich-black: #00120b;
$primary-green: #00d1b2; // OR #30e8a1 ?????
$dark-green: #034e51;
// #359ab1 

$small-margin: 1rem;
$section-padding: 8%;
$field-margin: 4%;

$line-width: 2px;
$active-border: 1px;