@import '../../node_modules/bulma/sass/utilities/initial-variables.sass';

$white: #fff;
$rich-black: #00120b;
$primary-green: #00d1b2;
$dark-green: #034e51;
$dark-green-transparent: rgba(3, 78, 81, 0.8);

$small-margin: 1rem;
$section-padding: 8%;
$heading-margin-large: 8%;
$heading-margin-small: 4%;
$field-margin: 4%;

$line-width: 2px;
$active-border: 1px;